.box{
    width: 300px;
border: 2px solid red;
color: rgb(243, 11, 11);
background-color: rgb(36, 34, 32);
margin-top: 80px;
margin-left: 400px;
padding: 10px;
box-shadow: 15px 15px rgb(221, 19, 19);
}
.dash-text{
    color: rgb(7, 3, 15);
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 200px;
}
